target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# IDE 配置文件（永远不要提交）
.idea/
.idea/cache/
*.xml !pom.xml
*.db
ApifoxUploaderProjectSetting.xml
dataSources.xml
encodings.xml
misc.xml
vcs.xml

# 构建产物
target/
*.class
*.jar
*.war

# 临时文件
*.log
*.tmp

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store